anyio
argon2-cffi
argon2-cffi-bindings
args
arrow
astropy
astropy-iers-data
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
click
clint
cloudpickle
comm
contourpy
coverage
cycler
debugpy
decorator
deepspeed
defusedxml
et-xmlfile
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
gym
gym-notices
h11
hjson
httpcore
httpx
idna
iminuit
importlib-metadata
iniconfig
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
juliacall
juliapkg
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
mamba
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
notebook
notebook_shim
numexpr
numpy
nvidia-ml-py
nvitop
openpyxl
overrides
packaging
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
Pillow
platformdirs
pluggy
pmlb
prometheus_client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py
py-cpuinfo
pyarrow
pycparser
pydantic
pyerfa
Pygments
pyoperon
pyparsing
pysr
pytest
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
seaborn
semver
Send2Trash
six
sniffio
soupsieve
stack-data
statsmodels
sympy
sympytorch
tensorboardX
termcolor
terminado
threadpoolctl
tinycss2
tomli
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
xgboost
zipp
zss
